.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  padding: 10px; /* some padding */
  text-align: left ; /* center the text */
  background: #F24822; /* green background */
  color: white; /* white text color */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 10px 15px; /* Increased horizontal padding for spacing */
  border-radius: 10px;
  font-size: 30px;
  transition: background-color .5s;
  background-size: 10 0px;
  background-color: #F24822;
  margin-left: 10px; /* Added margin for spacing between links */
}


.topnav a:hover {
  background-color: rgb(223, 125, 104);
  color: rgb(255, 255, 255);
}


/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 70px;
}




.App-link {
  color: #61dafb;
}


